<!--about.ejs-Aafaq Muzaffar-300190210-2022-10-30-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Section-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the My <%= title %> Page</h1>
      </br>
      <div class="row">
        <div class="col-md-9">
           <h4>My name is Aafaq Muzaffar.(he/him)</h4>
           </br>
           <h4>I am currently enrolled in Software Engineering Technology (Co-op) at Centennial College. I live in Barrie Ontario. I had completed 
            some academic projects including online forms, a small real estate agent website, and this profile portfolio using HTML, CSS, JavaScript,
            NodeJS, and Express. </h4>  
           </br>
           <a class="btn btn-primary" href="https://drive.google.com/file/d/1u_0RfRAw0wpumaGN6dijpCqZs5dh-Agh/view?usp=sharing" role="button">Check My Resume</a>
           </br>
           </br>
           <a class="btn btn-primary" href="/products" role="button">Check My Projects</a>
           </br>
        </div>
        <div class="col-md-3">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQE6JesoVReBJg/profile-displayphoto-shrink_800_800/0/1663021438125?e=1671062400&v=beta&t=p7PEklo_A06C3-rVsvYS3aQbkWgVl2RsJqLe7kiREgI" alt="my pic" width="250" height="200">
        </div>
      </div>
      
    </div>
  </main>

  <%- include partials/bottom_nav.ejs %>  

  <%- include partials/footer.ejs %>  