<!--index.ejs-Aafaq Muzaffar-300190210-2022-10-30-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<!--Main Section-->
<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the My <%= title %> Page</h1>
        </br>
        <div class="row">
          <div class="col-md-9">
            <h4>Hi ! </h4>
            </br>
            <h4>I am Aafaq Muzaffar.</h4>
            </br>
            <h4>I want to develop software solutions that will bring a revolution in the World.</h4>
            </br> 
            </br>
            <a class="btn btn-primary" href="/about" role="button">Learn About Me.</a>
            </br> 
         </div>
         <div class="col-md-3">
            <img src="https://static.vecteezy.com/system/resources/previews/002/713/995/original/programmer-typing-data-code-on-computer-for-software-development-vector.jpg" alt="my pic" width="250" height="200">
         </div>
      </div> 
    </div>
</main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




