<!--products.ejs-Aafaq Muzaffar-300190210-2022-10-30-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Section-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the My <%= title %> Page</h1>
    </br>
    <img src="https://cdn4.vectorstock.com/i/1000x1000/93/88/online-application-form-to-fill-popped-above-vector-34309388.jpg" alt="project1" width="500" height="300">
    </br>
    <h4>Online Form for Member Registeration</h4>
    </br>
    <img src="https://happyaddons.com/wp-content/uploads/2020/06/How-to-Create-a-Portfolio-Website-with-Elementor-and-HappyAddons.png" alt="project2" width="500" height="300">
    </br>
    <h4>Online Profile Portfolio</h4>
    </br>
    <img src="https://bethandryan.ca/wp-content/uploads/2021/06/shutterstock_129797951-scaled.jpg" alt="project3" width="500" height="300">
    </br>
    <h4>Real Estate Agent Website</h4>
    </br>
    </br>
    </div>
    </br>
    </br>
  </main>

  <%- include partials/bottom_nav.ejs %>  

  <%- include partials/footer.ejs %>  