<!--services.ejs-Aafaq Muzaffar-300190210-2022-10-30-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

 <!--Main Section-->
 <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the My <%= title %> Page</h1>
    </br>
    <img src="https://smsh-862737-juc1ugur1qwqqqo4.stackpathdns.com/2569356/wp-content/uploads/2021/11/AdobeStock_216690453-540x420.jpeg?size=540x420&lossy=1&strip=1&webp=1" width="500" height="300">
    <h4>Web Developer</h4>
    </br>
    <img src="https://miro.medium.com/max/1400/1*oupfNXy-3ud6VjFghWEM5w.png" width="500" height="300">
    <h4>Oracle PL/SQL Developer</h4>
    </br>
    <img src="https://www.ideamotive.co/hubfs/Frame%2035%20%281%29.png" width="500" height="300">
    <h4>Application Deveopment using Java & C#</h4>
    </br>
    </br>
    </div>
    </br>
    </br>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>